.DS_Store
.idea/
*.pyc
*.log
*.pid
*.swp

nets-unmantained/3routers/starter.sh
nets-unmantained/8routers/starter.sh
nets/8routers-isis-ipv6/starter.sh
nets/8r-1c-in-band-isis/starter.sh
nets-unmantained/8r-1c-out-band-isis/starter.sh
nets-in-progress/8r-1c-srv6-pm/starter.sh
